body
{
  margin-top: 0;
  font-family: Ubuntu, Arial, Tahoma, sans-serif;
  font-size: medium;
  color: #000;
}

a
{
  color: #00f;
  text-decoration: none;
  border: 0;
}

h2
{
  margin: 0;
  padding: 0;
}

p
{
  margin: 0.5em 0;
  line-height: 1.25em;
}

li
{
  margin: 0.25em;
  line-height: 1.25em;
}

p a, li a
{
  font-weight: bold;
}

#main_content
{
  width: 750px;
  left: 50%;
  margin-left: -375px;
  position: absolute;
}

#menu_bar
{
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

#home_content_1
{
  display:inline-block;
}

#home_content_2
{
  display:inline-block;
}

#footer
{
  font-size: small;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  display:inline-block;
  width: 100%;
}

#footer hr
{
  width: 50%;
  height: 1px;
  color: black;
  background-color: #000;
  border: 0;
}

#footer img
{
  padding: 0 8px;
}

.menu_item
{
  font-size: 135%;
  padding: 0 12px;
}

.text_left {
  width: 400px;
  float: left;
}

.text_right {
  width: 400px;
  float: right;
}

.img_left
{
  margin-right: 20px;
  float: left;
}

.img_right
{
  margin-left: 20px;
  float: right;
}

.content_header
{
  font-size: large;
  font-weight: bold;
  float: left;
  margin-left: 90px;
}

.content_main
{
 width: 525px;
 float: right;
 margin-right: 90px;
}

.content_main ul
{
  margin-top: 0;
  padding-left: 0;
}

.content_video
{
 width: 525px;
 float: right;
 margin-right: 90px;
 margin-bottom: .5em;
 margin-top: .5em;
}

.news_main
{
 width: 525px;
 float: right;
 margin-right: 90px;
}

.news_main ul
{
  margin-bottom: 0;
  margin-top: 0;
}

.faq_q
{
  font-size: large;
  font-style: italic;
  float: left;
  margin-left: 90px;
}

.faq_a
{
 width: 525;
 float: right;
 margin-right: 90px;
}

.faq_a ul
{
  margin-top: 0;
}

.terminal_text
{
  margin: 10px -50px 10px 20px;
  line-height: 1.1em;
}
